h1 {
    color: blue;
    font-size: 50px;
    text-align: center;
}

a {
    color: red;
    font-style: italic;
    text-align: center;
}

p {
    text-align: center;
}

table {
    width: 100%;
}

th {
    background-color: #026441;
    color: white;
}

tr {
    padding: 10px;
}

img {
    width: 100%;
}